@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
body {
  background-image: linear-gradient(to right, #090e4e, #43003e);
  margin: 0;
  font-family: "Quicksand", Arial;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-container {
  text-align: center;
  padding: 1em;
}

.home {
  width: 100px;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
}

.hide-mobile {
  display: none;
}

.menu {
  width: 35px;
  margin-top: 25%;
}

section {
  margin-top: 70%;
  color: white;
  text-align: center;
}

.footer-pictures {
    position: fixed;
    bottom: 0;
    text-align: center;
  img {
    width: 10%;
    left: 50%;
    padding: 1em 2em;
  }
}
